.vscode/**
.github/**
.github
node_modules/**
swagger/**
__blobstorage__/**
__queuestorage__/**
__*.json
__*__
*.tgz
*.vsix
*.log
*.png
*.env
*.yml
temp
swagger
.git
.gitattributes
.gitignore
.lintstagedrc
.vscode
.vscodeignore
dist
release