{
  "linters": {
    "*.{js,json,ts,md}": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": [
    "**/dist/**",
    "**/swagger/**",
    "**/generated/**",
    "ChangeLog.md",
    "BreakingChanges.md"
  ]
}