node_modules/
coverage
azurite-testdrive/
.nyc_output
debug.log
.lintstagedrc
azure-pipelines.yml
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
.vscode/
tslint.json
tsconfig.json
*.vsix
.vscodeignore
Dockerfile
dist/tests/
typings/tests/
tests/
swagger/
debug.log
*.tgz
__*__.json
__*__
.env
temp