node_modules/
src/
typings/
coverage
.prettierrc.json
README.mcr.md
azurite-testdrive/
.nyc_output
debug.log
.lintstagedrc
azure-pipelines.yml
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
.vscode/
.github/
tslint.json
tsconfig.json
*.vsix
.vscodeignore
Dockerfile
dist/tests/
typings/tests/
tests/
swagger/
debug.log
*.tgz
__*__.json
__*__
*.env
temp
.gitattributes
.dockerignore
README.mcr.md
icon.png
release