node_modules/
coverage
azurite-testdrive/
__blobstorage__
__testspersistence__
__blobTestsPersistence__
__queueTestsPersistence__
__blobExtentTestsStorage__
__blobTestsStorage__
__queueExtentTestsStorage__
__queueTestsStorage__
__testsstorage__
__azurite_db_blob__.json
__queuestorage__
__azurite_db_queue_extent__.json
__azurite_db_queue__.json
.nyc_output
debug.log
.lintstagedrc
azure-pipelines.yml
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
.vscode/
tslint.json
tsconfig.json
*.vsix
.vscodeignore
Dockerfile
dist/tests/
typings/tests/
tests/
swagger/
debug.log
*.tgz