**/*.ts
**/tsconfig.json
**/tslint.json
PULL_REQUEST_TEMPLATE.md
ISSUE_TEMPLATE.md
azure-pipelines.yml
.vscodeignore
.lintstagedrc
.gitignore
.npmignore
.dockerignore
Dockerfile
__blobstorage__
typings
tests
swagger
src
.vscode
dist/tests
debug.log
*.tgz
__*__.json
__*__
__queuestorage__
__blobstorage__
__queueTestsPersistence__
__*
*.env
temp
.github
.prettierrc.json
README.mcr.md
release
docs
