**/*.ts
**/tsconfig.json
**/tslint.json
PULL_REQUEST_TEMPLATE.md
ISSUE_TEMPLATE.md
azure-pipelines.yml
.vscodeignore
.lintstagedrc
.gitignore
.npmignore
Dockerfile
typings
tests
swagger
src
.vscode
dist/tests
debug.log
__blobstorage__
__queuestorage__
__azurite_db_blob__.json
__azurite_db_queue_extent__.json
__azurite_db_queue__.json