# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript
# https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=vsts&tabs=schema

trigger:
  - newarch-dev

jobs:
  - job: blobnodejslinux
    displayName: Blob Linux
    pool:
      vmImage: "ubuntu-16.04"
    strategy:
      matrix:
        node_8_x:
          node_version: 8.x
        node_10_x:
          node_version: 10.x
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "$(node_version)"
        displayName: "Install Node.js"

      - script: |
          npm install
        workingDirectory: "./"
        displayName: "npm install"

      - script: |
          npm run lint
        workingDirectory: "./"
        displayName: "tslint"

      - script: |
          npm run test
        workingDirectory: "./"
        displayName: "npm run test"
        env: {}

  - job: blobnodejswin
    displayName: Blob Windows
    pool:
      vmImage: "vs2017-win2016"
    strategy:
      matrix:
        node_8_x:
          node_version: 8.x
        node_10_x:
          node_version: 10.x
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "$(node_version)"
        displayName: "Install Node.js"

      - script: |
          npm install
        workingDirectory: "./"
        displayName: "npm install"

      - script: |
          npm run lint
        workingDirectory: "./"
        displayName: "tslint"

      - script: |
          npm run test
        workingDirectory: "./"
        displayName: "npm run test"
        env: {}

  - job: blobnodejsmac
    displayName: Blob Mac
    pool:
      vmImage: "macOS-10.13"
    strategy:
      matrix:
        node_8_x:
          node_version: 8.x
        node_10_x:
          node_version: 10.x
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "$(node_version)"
        displayName: "Install Node.js"

      - script: |
          npm install
        workingDirectory: "./"
        displayName: "npm install"

      - script: |
          npm run lint
        workingDirectory: "./"
        displayName: "tslint"

      - script: |
          npm run test
        workingDirectory: "./"
        displayName: "npm run test"
        env: {}
