# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript
# https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=vsts&tabs=schema

trigger:
  - master
  - dev

jobs:
  - job: blobnodejslinux
    displayName: Blob Linux
    pool:
      vmImage: "ubuntu-16.04"
    strategy:
      matrix:
        node_8_x:
          node_version: 8.x
        node_10_x:
          node_version: 10.x
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "$(node_version)"
        displayName: "Install Node.js"

      - script: |
          npm install
        workingDirectory: "./"
        displayName: "npm install"

      - script: |
          npm run lint
        workingDirectory: "./"
        displayName: "tslint"

      - script: |
          npm run validate:npmpack:linux_mac
        workingDirectory: "./"
        displayName: "Validate npm package installation"

      - script: |
          npm run vscode:pack
        workingDirectory: "./"
        displayName: "Validate Visual Studio Code extension package generation"

      - script: |
          sudo npm uninstall -g azurite
          npm run build
          sudo npm install -g
          azurite -v
          azurite-blob -v
        workingDirectory: "./"
        displayName: "Validate npm global installation from GitHub code base"

      - script: |
          npm run test
        workingDirectory: "./"
        displayName: "npm run test"
        env: {}

  - job: blobnodejswin
    displayName: Blob Windows
    pool:
      vmImage: "vs2017-win2016"
    strategy:
      matrix:
        node_8_x:
          node_version: 8.x
        node_10_x:
          node_version: 10.x
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "$(node_version)"
        displayName: "Install Node.js"

      - script: |
          npm install
        workingDirectory: "./"
        displayName: "npm install"

      - script: |
          npm run lint
        workingDirectory: "./"
        displayName: "tslint"

      - script: |
          npm run validate:npmpack:win
        workingDirectory: "./"
        displayName: "Validate npm package installation"

      - script: |
          npm run vscode:pack
        workingDirectory: "./"
        displayName: "Validate Visual Studio Code extension package generation"

      - script: |
          npm uninstall -g azurite
          npm run build
          npm install -g
          azurite -v
          azurite-blob -v
        workingDirectory: "./"
        displayName: "Validate npm global installation from GitHub code base"

      - script: |
          npm run test
        workingDirectory: "./"
        displayName: "npm run test"
        env: {}

  - job: blobnodejsmac
    displayName: Blob Mac
    pool:
      vmImage: "macOS-10.13"
    strategy:
      matrix:
        node_8_x:
          node_version: 8.x
        node_10_x:
          node_version: 10.x
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "$(node_version)"
        displayName: "Install Node.js"

      - script: |
          npm install
        workingDirectory: "./"
        displayName: "npm install"

      - script: |
          npm run lint
        workingDirectory: "./"
        displayName: "tslint"

      - script: |
          npm run validate:npmpack:linux_mac
        workingDirectory: "./"
        displayName: "Validate npm package installation"

      - script: |
          npm run vscode:pack
        workingDirectory: "./"
        displayName: "Validate Visual Studio Code extension package generation"

      - script: |
          sudo npm uninstall -g azurite
          npm run build
          sudo npm install -g
          azurite -v
          azurite-blob -v
        workingDirectory: "./"
        displayName: "Validate npm global installation from GitHub code base"

      - script: |
          npm run test
        workingDirectory: "./"
        displayName: "npm run test"
        env: {}

  - job: docker
    displayName: Docker Build
    pool:
      vmImage: "ubuntu-16.04"
    steps:
      - script: |
          npm install
        workingDirectory: "./"
        displayName: "npm install"

      - script: |
          npm run docker:build
        workingDirectory: "./"
        displayName: "Build docker image"

      - script: |
          docker run xstoreazurite.azurecr.io/public/azure-storage/azurite:latest azurite -v
          docker run xstoreazurite.azurecr.io/public/azure-storage/azurite:latest azurite-blob -v
        workingDirectory: "./"
        displayName: "Validate docker image"
